.btn_set{
    text-align: center;
    display: flex;
  }
  
  .deletebtn{
    border-radius: 10px;
    border-color:rgb(255, 218, 224);
    background-color: rgb(255, 218, 224);
    margin: 0 1em;
    padding: 0.5em 2.5em;
    position: center;
    font-size: 13px;
    font-weight: bold;
    }
  .mybtn{
    border-radius: 10px;
    border-color:rgb(255, 218, 224);
    background-color: rgb(255, 218, 224);
    margin: 0 1em;
    padding: 0.5em 2.5em;
    position: center;
    font-size: 13px;
    font-weight: bold;
  }
  